name: Část Pipeline (Reusable Workflow)

on:
  workflow_call:   # umožní volání z jiných workflowů
    inputs:
      run-tests:
        description: "Spustit testy?"
        required: false
        default: true
        type: boolean
      run-lint:
        description: "Spustit lint?"
        required: false
        default: true
        type: boolean

jobs:
  lint:
    if: ${{ inputs.run-lint }}
    name: Lint & Style Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spotless (Java)
        run: mvn spotless:check

      - name: Prettier (YAML/Markdown)
        run: |
          npm install -g prettier
          prettier --check "**/*.yml" "**/*.yaml" "**/*.md"

  test:
    if: ${{ inputs.run-tests }}
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Run Tests
        run: mvn -T 1C --batch-mode test